:root{
  --primary-color: #A4A4A4;
  --orange: orange;
  --third-color: #1A1A1A;
  --fourth-color: #F2F2F2;
  --black: black;
  --white: white;

  /* --primary-color: #A4A4A4;
  --orange: orange;
  --fourth-color: #1A1A1A;
  --third-color: #F2F2F2;
  --white: black;
  --black: white; */

  /* orange: purple; */
  /* orange: rgb(214, 33, 33); */
}